include mixins.pug
include mixins-attackers.pug

- let victim = rawmail.victim;
- let time = rawmail.killmail_time.replace('T', ' ').replace('Z', '');

- let title = ( victim.character_id > 0 ? victim.character_name : victim.corporation_name)
- title += (title.slice(-1) == 's' ? "'" : "'s")
- title += ' ' + victim.ship_type_name

h1.d-none#page-title= title
div.row.m-0.p-0
	div#killleftside.col-12.col-xl-8.row.m-0.p-0
		div#killmail-fitting-col.col-12.col-md-7
			div#killmail-fitting
				div#fittingwheelbox
					object(id='fittingwheel' data='/img/tyrannis-plain.svg?v=' + server_started alt='Fitting wheel' type="image/svg+xml")
		div#killmail-information.col-12.col-md-5
			div#victim-images
				ul.p-0.m-0
					+char_image('li', victim.character_id, victim.character_name, 128)
					+corp_image('li', victim.corporation_id, victim.corporation_name, 64)
					+alli_image('li', victim.alliance_id, victim.alliance_name, 64)
					+corp_image('li', victim.faction_id, victim.faction_name, 64)
			table#info-table.table.table-borderless.table-hover.table-striped.table-sm
				tbody
					+info_row_a('Character:', 'character', victim.character_id, victim.character_name)
					+info_row_a('Corporation:', 'corporation', victim.corporation_id, victim.corporation_name)
					+info_row_a('Alliance:', 'alliance', victim.alliance_id, victim.alliance_name)
					+info_row_a('Faction:', 'faction', victim.faction_id, victim.faction_name)
					+info_row_a('Item:', 'item', victim.ship_type_id, victim.ship_type_name)
					+info_row_a('Group:', 'group', victim.group_id, victim.group_name)
					+info_row_a('System:', 'system', rawmail.solar_system_id, rawmail.solar_system_name)
					+info_row_a('Constellation:', 'constellation', rawmail.constellation_id, rawmail.constellation_name)
					+info_row_a('Region:', 'region', rawmail.region_id, rawmail.region_name)
					+info_row_a('Location:', 'location', rawmail.location_id, rawmail.location_name)
					+info_row('Time:', time)
					+info_row('Destroyed:', killmail.totals.destroyed, 'isk')
					+info_row('Dropped:', killmail.totals.dropped, 'isk')
					+info_row('Total Value:', killmail.total_value, 'isk')
					tr
						td Labels
						td
							each label in killmail.labels
								+add_label(label)
		div#killmail-cargo.col-12
			if victim.category_id == 87
				h6.text-right Note: Accurate fighter counts are not reflected in ESI.
			table#cargotable.table.table-sm.table-hover.table-responsive-sm
				tbody
					tr.border-0#master-sort-row(style='background-color: inherit;')
						td.border-0.cargoimage(style='min-width: 50px;')
							button.btn.group-toggle.p-0.m-0(type='button',data-toggle='collapse',data-target='.item-group',aria-expanded="true" )
							button.btn.btn-primary.sort-trigger.collapse.bi.bi-backspace#sort-reset
						td.border-0.cargoname(width='100%')
						td.border-0.text-right.cargoamount 
							button.btn.btn-light.sort-trigger Qty
						td.border-0.text-right.cargo-price
							button.btn.btn-light.sort-trigger Value
					each group in killmail.cargo_groups
						tr.group-name
							td
								button.btn.group-toggle.p-0.m-0(type='button',data-toggle='collapse',data-target='.group-' + group,aria-expanded="true" )
							td(colspan='3')
								h5= killmail.group_names[group]
						- var items = killmail.group_items[killmail.group_names[group]]
						each item in items
							tr.item-group.show(class=item.class, class='group-' + group)
								td.cargoimage
									+type_image('span', item.item_type_id, item.item_type_name, 32)
								td.cargoname(col-value=item_type_name)
									+type_id_link('span', 'item', item.item_type_id, item.item_type_name )
								td.cargoamount.integer.text-right(col-value=item.total)= item.total
								td.cargoprice.integer.text-right(col-value=item.total_price)= item.total_price
					tr
						td
						td(colspan='3')
							h5 Ship		
					tr(class='victimrow')
							td
								+type_image('span', victim.ship_type_id, victim.ship_type_name, 32)
							td
								+type_id_link('span', 'item', victim.ship_type_id, victim.ship_type_name)
							td
							td.integer.text-right= killmail.ship_price
					tr
						td
						td
						td.text-right 
							h5 Totals
						td
					tr.aggressorrow
						td
						td 
						td.text-right Dropped:
						td.integer.text-right= killmail.totals.dropped
					tr.victimrow
						td
						td 
						td.text-right Destroyed:
						td.integer.text-right= killmail.totals.destroyed
					tr
						td
						td 
						td.text-right Total:
						td.integer.text-right= killmail.total_value
	div.col-12.col-xl-4
		div#overview-involved
			div
				div#killmail-involved.attackers-list
					div#killmail-top-stats
					hr
					div
						span
							span.integer= killmail.involved_cnt
							| &nbsp;Involved
						span.right
							= 'Total Damage: '
							span.integer= victim.damage_taken
					hr
					+display_attackers(rawmail.attackers)
						
					if killmail.involved_cnt > 10
						div.text-center(style='margin-top: 1em;')
							button#load-all-attackers.btn.btn-secondary Load Remaining Attackers
						div#remainingattackers.d-none
							+spinner
					br
				div#killmail-comments

- //var fwDoc = document.getElementById("fittingwheel").contentDocument
- var fw = JSON.stringify(killmail.fittingwheel, undefined)
pre#fwraw(style="display: none;")= fw
pre#fwship(style="display: none;")= victim.ship_type_id
