include mixins.pug

- var rawmail = rawmail

-var rowid = 'killmail-' + rawmail.killmail_id
-var time = rawmail.killmail_time.replace("T", "<br/>").replace("Z", "");
-var date = rawmail.killmail_time.substr(0, rawmail.killmail_time.indexOf('T'));

h5.d-none.killmaildate= date
div.row.m-0.p-0.killrow(victims=victims labels=rawmail.labels epoch=rawmail.epoch)
	div.killrowblock.col-12.col-md-4.m-0.p-0
		ul.image
			-var url = '/killmail/' + rawmail.killmail_id
			-var image = 'https://images.evetech.net/types/' + rawmail.victim.ship_type_id + '/icon?size=' + 64
			-var name = 'Killmail ' + rawmail.killmail_id
			+tag_image('span', url, image, name, 64)
		ul.info1
			li
				| !{time}
			li
				span.fnumber= rawmail.total_value
				span.killmail-icon
					i.bi.bi-check.aggressor
					i.bi.bi-x.victim
		ul.info2
			+type_id_link('li', 'system', rawmail.solar_system_id, rawmail.solar_system_name, null, 'sec' + rawmail.solar_system_security_rounded)
			+type_id_link('li', 'constellation', rawmail.constellation_id, rawmail.constellation_name)
			+type_id_link('li', 'region', rawmail.region_id, rawmail.region_name)
	div.killrowblock.col-12.col-md-4.m-0.p-0
		ul.image
			if rawmail.victim.alliance_id > 0
				+alli_image('li', rawmail.victim.alliance_id, rawmail.victim.alliance_name, 64)
			else if rawmail.victim.corporation_id > 1999999 || parseInt(rawmail.final_blow.character_id) == 0
				+corp_image('li', rawmail.victim.corporation_id, rawmail.victim.corporation_name, 64)
			else
				+char_image('li', rawmail.victim.character_id, rawmail.victim.character_name, 64)
		ul.victim
			li
				+char_id_link('span', rawmail.victim.character_id, rawmail.victim.character_name)
				if rawmail.victim.character_id > 0
					|   -  
				+type_id_link('span', 'item', rawmail.victim.ship_type_id, rawmail.victim.ship_type_name)
			+corp_id_link('li', rawmail.victim.corporation_id, rawmail.victim.corporation_name)
			+alli_id_link('li', rawmail.victim.alliance_id, rawmail.victim.alliance_name)
			if ((rawmail.victim.alliance_id || 0) == 0)
				br
			+show_link('li', 'faction', rawmail.victim.faction_id, rawmail.victim.faction_name)
	div.killrowblock.col-12.col-md-4.m-0.p-0
		ul.image
			if rawmail.final_blow.alliance_id > 0
				+alli_image('li', rawmail.final_blow.alliance_id, rawmail.final_blow.alliance_name, 64)
			else if rawmail.final_blow.corporation_id > 1999999 || parseInt(rawmail.final_blow.character_id) == 0
				+corp_image('li', rawmail.final_blow.corporation_id, rawmail.final_blow.corporation_name, 64)
			else if rawmail.final_blow.character_id > 0
				+char_image('li', rawmail.final_blow.character_id, rawmail.final_blow.character_name, 64)
			else
				+type_image('li', rawmail.final_blow.ship_type_id, rawmail.final_blow.ship_type_name, 64)
		ul.finalblow
			- var tag
			- if (rawmail.stats == false) tag = 'nostats'
			- else if (rawmail.labels.indexOf('solo') != -1) tag = 'solo'
			- else tag = ' (' + rawmail.involved_cnt + ')'
			+char_id_link('li', rawmail.final_blow.character_id, rawmail.final_blow.character_name + ' ', tag)
			+corp_id_link('li', rawmail.final_blow.corporation_id, rawmail.final_blow.corporation_name)
			+alli_id_link('li', rawmail.final_blow.alliance_id, rawmail.final_blow.alliance_name)
			if ((rawmail.final_blow.alliance_id || 0) == 0)
				br
			+show_link('li', 'faction', rawmail.final_blow.faction_id, rawmail.final_blow.faction_name)
			if (!(rawmail.final_blow.character_id > 0 || rawmail.final_blow.corporation_id > 0 || rawmail.final_blow.alliance_id > 0)) 
				+type_id_link('li', 'type', rawmail.final_blow.ship_type_id, rawmail.final_blow.ship_type_name)
	div.clearfix
