mixin show_link(tag, type, id, name, extra)
	if type == 'character_id'
		+char_id_link(tag, id, name, extra)
	else if type == 'corporation_id'
		+corp_id_link(tag, id, name, extra)
	else if type== 'alliance_id'
		+alli_id_link(tag, id, name, extra)
	else
		+type_id_link(tag, type.replace('_id', ''), id, name, extra)

mixin char_id_link(tag, id, name, extra)
	+type_id_link(tag, 'character', id, name, extra)

mixin corp_id_link(tag, id, name)
	+type_id_link(tag, 'corporation', id, name)

mixin alli_id_link(tag, id, name)
	+type_id_link(tag, 'alliance', id, name)

mixin type_id_link(tag, type, id, name, extra, extraclasses)
	-var url = '/' + type + '/' + id
	-var name = (name == null || name == undefined || name == '' ? type + ' ' + id : name)
	if id != undefined
		#{tag}
			a.override(href=url alt=name class=extraclasses)= name
			+include_extra(extra)
	else if extra != ''
			+include_extra(extra)

mixin include_extra(extra)
	if extra != ''
		if extra == 'nostats'
			span.label.alert.alert-danger.nostats &nbsp;STATS&nbsp;
		else if extra == 'solo'
			span.label.alert.alert-success &nbsp;SOLO&nbsp;
		else
			= extra

mixin add_label(label)
	if label == 'nostats'
		span.label.alert.alert-danger.nostats &nbsp;STATS&nbsp;
	else
		a.override(href='/label/' + label)
			if label == 'solo'
				span.label.alert.alert-success &nbsp;SOLO&nbsp;
			else
				span.uppercase.label.alert
					| &nbsp;
					= label
					| &nbsp;

mixin tag_image(tag, url, src, name, size, classes)
	- tag = (tag ? tag : 'span')
	- let prefetch = '';
	if url.indexOf('/killmail/') >= 0 
		- prefetch = 'prefetch'
	#{tag}(classes=classes)
		-var onerror = 'this.onerror = null; this.src="https://images.evetech.net/alliances/1/logo?size=' + size + '"';
		-var imageHolder = 'width: ' + size + 'px; height: ' + size + 'px;'
		a.override(href=url class=prefetch)
			img.image(src=src title=name alt=name style=imageHolder onerror=onerror)

mixin show_image(tag, type, id, name, size, classes)
	if type == 'character_id'
		+char_image(tag, id, name, size, classes)
	else if type == 'corporation_id'
		+corp_image(tag, id, name, size, classes)
	else if type== 'alliance_id'
		+alli_image(tag, id, name, size, classes)
	else if type == 'faction_id'
		+faction_image(tag, id, name, size, classes)
	else if type == 'item_id'
		+type_image(tag, id, name, size, classes)
	else
		-var url = '/' + type.replace('_id', '') + '/' + id
		-var image = 'https://images.evetech.net/alliances/1/logo?size=' + size
		-var name = (name == null || name == undefined || name == '' ? type + ' ' + id : name)
		+tag_image(tag, url, image, name, size, classes)

mixin type_image(tag, id, name, size, category = undefined)
	if id != undefined
		-if (category == undefined) category = (size <= 64 ? 'icon' : 'render')
		-var url = '/type/' + id
		-var image = 'https://images.evetech.net/types/' + id + '/' + category + '?size=' + size
		-var name = (name == null || name == undefined || name == '' ? type + ' ' + id : name)
		+tag_image(tag, url, image, name, size)


mixin alli_image(tag, id, name, size)
	if id != undefined
		-var url = '/alliance/' + id
		-var image = 'https://images.evetech.net/alliances/' + id + '/logo?size=' + size
		-var name = (name == null || name == undefined || name == '' ? type + ' ' + id : name)
		+tag_image(tag, url, image, name, size)

mixin corp_image(tag, id, name, size)
	if id != undefined
		-var url = '/corporation/' + id
		-var image = 'https://images.evetech.net/corporations/' + id + '/logo?size=' + size
		-var name = (name == null || name == undefined || name == '' ? type + ' ' + id : name)
		+tag_image(tag, url, image, name, size)

mixin faction_image(tag, id, name, size)
	if id != undefined
		-var url = '/faction/' + id
		-var image = 'https://images.evetech.net/corporations/' + id + '/logo?size=' + size
		-var name = (name == null || name == undefined || name == '' ? type + ' ' + id : name)
		+tag_image(tag, url, image, name, size)

mixin char_image(tag, id, name, size)
	if id != undefined
		-var url = '/character/' + id
		-var image = 'https://images.evetech.net/characters/' + id + '/portrait?size=' + size
		-var name = (name == null || name == undefined || name == '' ? type + ' ' + id : name)
		+tag_image(tag, url, image, name, size)

mixin info_row(label, value, classes)
	if value != undefined
		- value = '' + value
		if value.length > 0
			tr.info_row
				td= label
				td(class=classes)= value

mixin info_row_a(label, type, id, value, classes)
	-var href= '/' + type.replace('_id', '') + '/' + id
	- id = '' + id
	if id.length > 0 && id != '0' && value != undefined
		- value = '' + value
		if value.length > 0
			tr.info_row
				td= label
				td(class=classes)
					+info_a(type, id, value)

mixin info_a(type, id, value, classes)
	-var href= '/' + type.replace('_id', '') + '/' + id
	- id = '' + id
	div.d-inline
		a(href=href class='override ' + classes)= value

mixin spinner()
	center
		div.lds-ring
			div
			div
			div
			div