mixin char_id_link(tag, id, name, extra)
	+type_id_link(tag, 'character', id, name, extra)

mixin corp_id_link(tag, id, name)
	+type_id_link(tag, 'corporation', id, name)

mixin alli_id_link(tag, id, name)
	+type_id_link(tag, 'alliance', id, name)


mixin type_id_link(tag, type, id, name, extra)
	-var url = '/' + type + '/' + id
	-var name = (name == null || name == undefined || name == '' ? type + ' ' + id : name)
	if id != undefined
		#{tag}
			a(href=url alt=name class='override')= name
			+include_extra(extra)
	else if extra != ''
			+include_extra(extra)

mixin include_extra(extra)
	if extra != ''
		| &nbsp;
		if extra == 'nostats'
				span.label.alert.alert-danger.nostats &nbsp;STATS&nbsp;
		else if extra == 'solo'
			span.label.alert.alert-success &nbsp;SOLO&nbsp;
		else
			= extra

mixin tag_image(tag, url, src, name, size)
	#{tag}
		-var onerror = 'this.onerror = null; this.src="https://images.evetech.net/alliances/1/logo?size=' + size + '"';
		-var imageHolder = 'width: ' + size + 'px; height: ' + size + 'px;'
		a(href=url class='override')
			img.image(src=src alt=name style=imageHolder onerror=onerror)

mixin type_image(tag, id, name, size)
	if id != undefined
		-var category = (size <= 64 ? 'icon' : 'render')
		-var url = '/type/' + id
		-var image = 'https://images.evetech.net/types/' + id + '/' + category + '?size=' + size
		-var name = (name == null || name == undefined || name == '' ? type + ' ' + id : name)
		+tag_image(tag, url, image, name, size)


mixin alli_image(tag, id, name, size)
	if id != undefined
		-var url = '/alliance/' + id
		-var image = 'https://images.evetech.net/alliances/' + id + '/logo?size=' + size
		-var name = (name == null || name == undefined || name == '' ? type + ' ' + id : name)
		+tag_image(tag, url, image, name, size)

mixin corp_image(tag, id, name, size)
	if id != undefined
		-var url = '/corporation/' + id
		-var image = 'https://images.evetech.net/corporations/' + id + '/logo?size=' + size
		-var name = (name == null || name == undefined || name == '' ? type + ' ' + id : name)
		+tag_image(tag, url, image, name, size)

mixin char_image(tag, id, name, size)
	if id != undefined
		-var url = '/character/' + id
		-var image = 'https://images.evetech.net/characters/' + id + '/portrait?size=' + size
		-var name = (name == null || name == undefined || name == '' ? type + ' ' + id : name)
		+tag_image(tag, url, image, name, size)