include mixins.pug

if json.topisk && json.topisk.length > 0
	h4.text-capitalize
		if json.numDays == 'Alltime'
			span= 'top ' + json.killed_lost + ': alltime'
		else
			span= 'top ' + json.killed_lost + ': past ' + json.numDays + ' days'
	hr
	div.row
		each row in json.topisk
			div.topiskblock.col-12.col-xl-2
				table.table.table-sm.table-borderless
					tbody
						tr
							td.top10name
								+show_link('span', 'item_id', row.item_id, row.item_name)
						tr
							td
								-var category = (size <= 64 ? 'icon' : 'render')
								-var url = '/killmail/' + row.killmail_id
								-var image = 'https://images.evetech.net/types/' + row.item_id + '/' + category + '?size=128'
								+tag_image(tag, url, image, row.item_name, 128)
						tr
							td.top10name
								+show_link('span', 'character_id', row.character_id, row.character_name)
						tr
							td.fnumber= row.total_value
if json.types
	h4.text-capitalize
		if json.numDays == 'Alltime'
			span= 'top ' + (json.killed_lost == 'killed' ? 'killers' : 'victims') + ': alltime'
		else
			span= 'top ' + (json.killed_lost == 'killed' ? 'killers' : 'victims') + ': past ' + json.numDays + ' days'

	hr
	div.row
		each arr,type in json.types
			div.top10block.col-12.col-xl-3
				- var name = type.replace('_id', '_name');
				- var first = arr[0]
				h6.top10title= type.replace('_id', '').replace('_', ' ') 
				+show_image('span', type, first[type], first[name], 128)
				table.table.table-striped.table-hover.table-sm
					each value in arr
						tbody
							tr
								td.top10name
									+show_link('span', type, value[type], value[name])
								td.top10count.text-right.integer= value.count 
