include mixins.pug

div#numtopkills.d-none= topisk.length
if topisk && topisk.length > 0
	h5.text-capitalize= 'most value - ' + timespan
	div#loaded-topisk
		div#topisk-block.p-0.m-0
			div.d-flex.align-content-around.flex-wrap
				each row in topisk
					div.topiskblock.mr-auto
						table.table.table-sm.table-borderless.p-0.m-0
							tbody
								tr
									td
										-var category = (size <= 64 ? 'icon' : 'render')
										-var url = '/killmail/' + row.killmail_id
										-var image = 'https://images.evetech.net/types/' + row.item_id + '/' + category + '?size=128'
										+tag_image(tag, url, image, row.item_name, 128)
								tr
									td.top10name
										if row.character_id
											+show_link('span', 'character_id', row.character_id, row.character_name)
										else
											+show_link('span', 'corporation_id', row.corporation_id, row.corporation_name)
								tr
									td.top10name
										+show_link('span', 'item_id', row.item_id, row.item_name)
								tr
									td.fnumber= row.total_value
else
	i.text-right no results with current filters
	br
	br
if types
	hr.thin
	h5.text-capitalize= 'Affiliates - ' + timespan
div#fulltoptenblock
	if types
		div#toptensfullblock.row.d-flex.flex-wrap
			each arr,type in types
				div.top10block.mr-4
					- var name = type.replace('_id', '_name');
					- var first = arr[0]
					h5.top10title= type.replace('_id', '').replace('_', ' ') 
					+show_image('span', type, first[type], first[name], 128)
					table.table.table-striped.table-hover.table-sm
						each value in arr
							tbody
								tr
									td.top10name
										+show_link('span', type, value[type], value[name])
									td.top10count.text-right.integer= value.count

	if next_update
		hr.thin
		i= 'Next update: ' + next_update

